.contenedor {
  display: flex;
  flex-direction: column;
  color: #57170B;
  background-color: #CD022D;
  padding: 2rem;
  width: 25rem;
  border-radius: 10px;
  margin: 2rem 0 0 2rem;
  font-family: 'Sriracha', cursive;
  text-align: center;

  .encabezado {
    background-color: #FE5E08;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  .opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FE8A4D;
    border-radius: 10px;

    .opcion1, .opcion2, .opcion3, .opcion4, .opcion5 {
      display: grid;
      grid-template-columns: 2fr 1fr 5fr;
      align-items: center;
    }

    button {
      background-color: #EBE038;
      color: #57170B;
      font-weight: bold;
      border: solid 1px #EBE038;
      padding: .5rem 0;
      margin-bottom: 1rem;

      font-family: 'Sriracha', cursive;
    }

    button:hover {
      cursor: pointer;
    }
  }
}
